@import "tailwindcss";

a.active {
  color: #fff;
}

.toggle {
  width: 200%;
}

.containerr.active .sign-in {
  transform: translateX(100%);
}

.containerr.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 30;
  animation: move 0.4s;
}

@keyframes move {
  0%,
  49% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 30;
  }
}

.containerr.active .toggle-container {
  transform: translateX(-100%);
}

.containerr.active .toggle {
  transform: translateX(50%);
}

.toggle-left {
  transform: translateX(-200%);
}

.containerr.active .toggle-left {
  transform: translateX(0);
}

.containerr.active .toggle-right {
  transform: translateX(200%);
}

input[type="radio"]:checked + label > img {
  border: solid #ff8a00 3px;
  border-radius: 20px;
  animation: wiggle 0.5s ease-in-out;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-1deg) scale(1);
  }
  50% {
    transform: rotate(1deg) scale(1.05);
  }
}

.transition-overlay {
  transform: translateY(-100vh);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.transition-overlay.active {
  transform: translateY(0vh);
}

.ham-menu span {
  height: 5px;
  width: 100%;
  background: #fff;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.ham-menu.active span {
  background: #fff;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.nav-item.fade{
  display: block;
  animation: fade 0.7s ease-in-out forwards;
}

@keyframes fade {
  from{
      transform: translateX(300px) scale(0.3);
      opacity: 0.3;
  }
  to{
    transform: translateX(0) scale(1);
          opacity: 1;
  }
}

